extends ../node_modules/jade-bootstrap/_bootstrap
append styles
	// Custom styles for this template
	link(href="../css/carousel.css", rel="stylesheet")
block body
	.navbar-wrapper
		.container
			nav.navbar.navbar-inverse.navbar-static-top
				.container
					.navbar-header
						button(type="button" ,class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar" ,aria-expanded="false", aria-controls="navbar")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar

						a(class="navbar-brand", href='/') Fadi Bitar
					#navbar.navbar-collapse.collapse
						ul.nav.navbar-nav
							li
								a(href='/') Home
							li
								a(href='about') About
							li.active
								a(href='contact') Contact

		//BEGIN FEAUTURETTE
		.container.marketing
			hr.featurette-divider
			.row.featurette
				.col-md-7
					h2.featurette-heading
						| Contact Information
						span.text-muted
					p.lead
						ul	Fadi Bitar
							li	E-mail: fadibitar@mail.usf.edu
						ul	Cody Kru
							li	E-mail: codykru@gmail.com
				.col-md
			hr.featurette-divider

		// FOOTER
		footer
			p.pull-right
				a(href='#') Back to top
			p
				| © 2016 Built with node.js
				a(href='#') Privacy
				|  ·
				a(href='#') Terms
